In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('../data/news.csv')
df

,date,text,label
0,2018-01-04T15:35:56,Farmers will get subsidies for turning fields ...,politic
1,2018-01-04T15:35:57,Vanuatu bans non-biodegradable plastic to prot...,politic
2,2018-01-04T17:00:49,Ex-British PM Tony Blair ups calls for Labour ...,politic
3,2018-01-04T17:00:50,UK's Tony Blair argues voters deserve another ...,politic
4,2018-01-04T18:01:34,Germany had so much renewable energy over Chri...,politic
...,...,...,...
127388,2024-03-30T21:54:34,Wind generates record annual percentage of UK ...,technology
127389,2024-03-30T22:54:55,"HP ends ties with Russia, shutting down its Ru...",technology
127390,2024-03-30T23:24:43,AT&T confirms data for 73 million customers le...,technology
127391,2024-03-31T00:59:36,Missouri AG sues Media Matters as Republicans ...,technology
127392,2024-03-31T01:59:20,Breakdown of Safety Is Not Unique to Boeing — ...,technology

In [59]:
df = df.drop('date', axis=1)

In [60]:
duplicated = df[df.duplicated(subset=['text'], keep=False)]
duplicated

                                                     text       label
108     Snow falls in Sahara desert for third time in ...     politic
117     Snow falls in Sahara desert for third time in ...     politic
143     FBI Task Force to Expose Russian Social Media ...     politic
171     World Infuriated by Trump's 'Shithole Countrie...     politic
172                                                   NaN     politic
...                                                   ...         ...
127165  Musk's SpaceX is building spy satellite networ...  technology
127166  Musk's SpaceX is building spy satellite networ...  technology
127277  NASA needs your smartphone during April's sola...  technology
127351  ‘Shortcuts Everywhere’: How Boeing Favored Spe...  technology
127373  ‘Shortcuts Everywhere’: How Boeing Favored Spe...  technology

[5385 rows x 2 columns]

In [61]:
df = df.drop_duplicates(subset=['text'])

In [62]:
df = df.dropna(how='any')

In [64]:
df['text'] = df['text'].str.lower()

In [65]:
df

                                                     text       label
0       farmers will get subsidies for turning fields ...     politic
1       vanuatu bans non-biodegradable plastic to prot...     politic
2       ex-british pm tony blair ups calls for labour ...     politic
3       uk's tony blair argues voters deserve another ...     politic
4       germany had so much renewable energy over chri...     politic
...                                                   ...         ...
127388  wind generates record annual percentage of uk ...  technology
127389  hp ends ties with russia, shutting down its ru...  technology
127390  at&t confirms data for 73 million customers le...  technology
127391  missouri ag sues media matters as republicans ...  technology
127392  breakdown of safety is not unique to boeing — ...  technology

[124534 rows x 2 columns]